.container{
    text-align: center;
}
table{
    margin: auto;
}
input{
    font-size: 28px;
    border: 5px solid tan;
    border-radius: 21px;
    height: 46px;
}
button{
    font-size: 40px;
    background-color: 	#A9A9A9;
    width: 102px;
    height: 58px;
    border-radius:20px;
    height:90px;
    margin: 6px;

}
.calculator{
    background-color: tan;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}